.admin-container:not([data-visible="true"]) {
	display: none;
}

.admin-container {
	padding: 0 2.75rem;
	overflow: auto;
	height: auto;
	scroll-padding-bottom: 4rem;
}

.admin-container,
.admin-main {
	justify-content: flex-start;
	align-items: flex-start;
}

.admin-container .admin-main:last-child {
	margin-bottom: 4rem;
}
