.final-items {
	& .btn:last-child {
		margin-bottom: 1.5rem;
	}

	& .btn:not([disabled]) {
		margin-inline-start: 1.5rem;
		min-width: calc(100% - 1.5rem * 1.5) !important;
		width: calc(100% - 1.5rem * 1.5) !important;
	}
}

.finalise-app {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.finalise-create-app {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	& > .sidebar {
		height: calc(100% - 56px);
	}

	& > .header-bar {
		border-top: 1px solid var(--secondary);
		height: 56px;
	}
}

.finalise-create-app .teams-create-app {
	max-height: calc(100% - 56px) !important;
}

.rankings-sort-container {
	position: relative;
	overflow: hidden;
}

.ranking-sort-dragger {
	position: unset !important;
}

.table-grid.is-record-table > .body.fixed-id > .row:nth-child(odd) {
	background-color: var(--secondary);
}

.floating-row .col {
	padding: 1rem;
}

.table-grid.is-record-table .head::before {
	content: "";
	top: 0;
	height: 3rem;
	width: 100%;
	background-color: white;
	position: absolute;
	z-index: 5;
	border-radius: 0.5rem;
}

.record-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 3rem 0;
}

.record-table-container {
	min-height: min-content;
	margin: auto;
}

.finalise-ranking-sidebar {
	flex: 1;
	min-width: 300px;
	border-left: 1px solid var(--secondary);
}

.finalise-ranking-sidebar .sidebar-content {
	display: none;
}

.overall-ranking-items .btn:last-child {
	margin-bottom: 1.5rem;
}

.overall-ranking-items .btn[disabled] + .btn {
	font-weight: 800;
}
