.header-bar {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 0.5rem;
}

.header-bar-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.header-bar-container > * {
	flex: 1 1 0%;
}

.header-bar-container .header-bar-button-container {
	display: flex;
}

.header-bar-container .header-bar-button-container:last-of-type {
	justify-content: flex-end;
}

.header-bar-container .header-bar-title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-weight: 600;
	text-align: center;
}

.header-bar-container .header-bar-button-container .btn.primary {
	box-shadow: none !important;
}
