.individual-signup-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 450px;
}

.individual-signup-container h1 {
	text-align: center;
}

.individual-signup-container form {
	align-items: center;
}

.individual-signup-container form .field {
	width: 100%;
}

.individual-signup-container form .field .field-container > div {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
}

.individual-signup-container form {
	gap: 2.5rem;
}
