form,
.form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

label,
.label {
	display: flex;
	font-weight: 600;
	margin-block-end: 1rem;
}

input,
select,
.input,
.select {
	appearance: none;
	border: none;
	padding: 0.9rem;
	border-radius: 1rem;
	background: white;
	border: 1px solid var(--secondary);
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	outline-offset: -2px;
	outline-width: 4px;
	font-family: inherit;
	font-size: inherit;
}

input[disabled] {
	pointer-events: none;
	opacity: 0.5;
}

.select-container {
	position: relative;
}

.select-container select {
	width: 100%;
}

.select-container::after {
	content: "";
	width: 0px;
	height: 0px;
	right: 1.25rem;
	top: 1.25rem;
	position: absolute;
	transform: rotate(90deg);
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid rgba(0, 0, 0, 0.5);
}

input[type="radio"],
.input[type="radio"] {
	border-radius: 999px;
	transition: 0.1s background-color ease-out, 0.1s box-shadow ease-out;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 0px var(--primary);

	&:active {
		background-color: var(--secondary-dark);
	}

	&:checked {
		box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 10px var(--primary);
	}
}

.select {
	padding: 0 !important;

	& option {
		margin: 0.9rem;
	}
}

.field-row {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;

	& > .field-container {
		flex: 1 1 0;
	}
}

.field-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& > label {
		align-items: center;
		gap: 0.5rem;
	}
}

.field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.field span {
	color: var(--warning);
	font-weight: 600;
}

.select.multi {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	overflow-y: auto;
	min-width: 150px;

	& > * {
		padding: 0.9rem;
	}

	& > *[data-selected="true"] {
		background-color: var(--primary);
		color: rgb(255, 255, 255);
	}
}

.select-multi-buttons {
	display: flex;
	flex-direction: column;

	& .btn {
		margin-block: 0 !important;
	}
}
