.intro-container {
	padding-block: 2rem;
	overflow-y: scroll;
}

.intro-container .intro-main button {
	margin-block: 1.5rem;
}

.admin-info-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.admin-info-container small {
	color: var(--warning);
	font-weight: 500;
}

.intro-container,
.intro-main {
	height: 100%;
}

.intro-main.intro-whoami .btn .icon {
	padding: 8px;
}
