.sidebar {
	display: flex;
	width: 100%;
	height: 100%;
}

.sidebar .sidebar-container {
	max-width: 300px;
	width: 100%;
	border-right: 1px solid transparent;
	transition: 0.5s border-right ease 0s;

	&:hover {
		border-right: 1px solid var(--secondary);
		transition: 0.5s border-right ease 0.25s;
	}
}

.sidebar .sidebar-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100vh;
}

.sidebar .sidebar-container .sidebar-items {
	display: flex;
	flex-direction: column;
	padding: 0.25rem 0.5rem;
	gap: 0.25rem;
}

.sidebar .sidebar-container .sidebar-items .btn {
	min-width: 100%;
	padding: 0.8rem 1rem;

	&:not(:hover, :active, [data-selected="true"]) {
		background-color: transparent;
	}

	&:hover {
		background-color: var(--secondary);
	}

	&:active {
		background-color: var(--secondary-dark);
	}

	&[data-selected="true"] {
		background-color: var(--primary);
		color: white;
	}
}
