:root:not(.light),
:root.light {
	--base-background: rgb(255, 255, 255);
	--base-colour: rgb(44, 44, 44);

	--primary: rgb(53, 132, 228);
	--primary-lighter: rgb(57, 142, 246);
	--primary-darker: rgb(53, 122, 206);

	--secondary: rgb(230, 230, 230);
	--secondary-dark: rgb(219, 217, 217);
	--secondary-darker: rgb(193, 193, 193);
	--secondary-darkerer: rgb(166, 166, 166);

	--tertiary: rgb(235, 235, 235);

	--danger: rgb(255, 27, 27);
	--danger-dark: rgb(222, 23, 23);
	--danger-darker: rgb(181, 19, 19);

	--warning: rgb(200, 93, 0);

	--gold: rgb(200, 160, 0);
	--silver: rgb(100, 100, 100);
	--bronze: rgb(145, 115, 71);

	--gold-lighter: rgb(197, 181, 114);
	--silver-lighter: rgb(136, 136, 136);
	--bronze-lighter: rgb(197, 131, 114);
}
