button {
	appearance: none;
	padding: 0.8rem 2.2rem;
	font-size: 1rem;
	font-weight: 600;
	border: none;
	border-radius: 999px;
	transition: 0.1s background-color ease-out;
	width: -webkit-fit-content;
}

button[disabled] {
	opacity: 0.4;
	pointer-events: none;
}

button.primary {
	background-color: var(--primary);
	color: rgb(255, 255, 255);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button.primary:hover {
	background-color: var(--primary-lighter);
}

button.primary:active {
	background-color: var(--primary-darker);
}

button.secondary {
	background-color: var(--secondary);
	color: var(--base-text);
}

button.secondary:hover {
	background-color: var(--secondary-dark);
}

button.secondary:active {
	background-color: var(--secondary-darker);
}
